extends ../layout

block content
  br
  h2= article.title
  br
  .container
    .row
      .col-md-12
        h5.article-subtitle #{article.subtitle}
        p.article-meta.text-muted
          | Posted by #{article.author}
          | on #{moment(article.created_at).format('MMM Do YYYY')}
        p.lead
          | #{article.body}
        hr
        br
        h4 Comments
        each comment, i in article.comments
          .card
            .card-body
              blockquote.blockquote.mb-0
                p
                  | #{comment.comment_body}
                footer.blockquote-footer
                  | #{comment.comment_author}
        br
        h4 Add comment
        p
          form(action=`/articles/comments/add/${article._id}`, method="post")
            .form-group
              label(for="Subject") Subject
              input.form-control(type="text", name="comment_subject", required)
            .form-group
              label(for="Author") Name
              input.form-control(type="text", name="comment_author", required)
            .form-group
              label(for="Email") Email
              input.form-control(type="email", name="comment_email", required)
            .form-group
              label(for="Body") Body
              textarea.form-control(name="comment_body", required)
            button.btn.btn-info(type="submit") Add comment